.collapsible{
    display: none;
    border: 1px black solid;
    padding: 10px;
}
.open {
    display: block;
}

#fileInfo{
    position: relative;
}
.times {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
}
.time{
    text-align: right;
}

.mainBtn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.loadContentsForm{
    display: inline;
}
.loadContentsBtn{
}

.createFormInput {
}
.createFormName{
    display: inline;
}
.createFormDesc{
    display: inline;
}
.createFormText { 
}

#allContents{
    margin-top: 20px;
}

textarea {
    width: 80em;
    height: 10em;
}

label{
  margin-right: 10px;
  margin-left: 20px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 400px;
}


