/* Very handy outlines for debugging with this box-shadow:*/
/* *{
  box-shadow:inset 0 0 16px -9px red;
}*/
.collapsible{
    display: none;
    border: 1px black solid;
    padding: .625em;
}
.open {
    display: block;
}
.userData{
    white-space: pre-wrap;
}
#fileInfo{
}
.times {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
}
.time{
    text-align: right;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    outline: none !important;
}
.navbar-brand:focus{
    color: #999999 !important;
}
.navbar-brand:active{
    color: #ffffff !important;
}
.btn{
    outline: none !important;
    background: #ffb000;
    color: black !important;
}
.btn:hover, .btn:active{
    background: #ff9000;
}
.logInOutBtn{
    position: absolute;
    top: 0;
    right: 0;
    margin: .5em;
}
.mainBtn {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-right: .625em;
}
.createFormInput {
}
.createFormName{
    display: inline;
}
.createFormDesc{
    display: inline;
}
.createFormText { 
}
#registerForm{
    margin-top: 2.5em;
}
#lastAction{
    width: 100%;
    text-align: center;
    margin-bottom: .5em;
}
#lastActionText{
    display: inline-block;
    background: #bceebc;
    padding: .4em .8em;
    border-radius: 0 0 1em 1em;
}
#allContents{
    margin-top: 1.25em;
}
.contentRow{
    display: flex;
    align-items: center;
}
.fileContents{
    margin-left: 3.0em;
}
.loadContentsForm{
}
.loadContentsBtn{
    outline: none !important;
    border: none;
    background: transparent;
    color: #ffb000;
    font-size: 1.8em;
    padding: 0;
    margin: .2em 0;
}
.loadContentsBtn > i{
    padding: 0;
    margin: 0;
}
.loadContentsBtn:hover, .loadContentsBtn:active{
    color: #ff9000 !important;
}
.fileGlyph{
}
.contentNameLink{
    font-weight: bold;
    margin-left: 1.0em;
}
.contentDesc{
    padding: .125em .5em;
    margin-left: 10em;
    background: #dfdfff;
    font-style: italic;
    border-radius: .5em;
}
.noteText{
    padding: .125em .25em;
    display: inline-block;
    background: #ffff9f;
}
.emptyContents{
    font-style: italic;
}

ul{
    list-style: none;
    padding-left: 0;
}
textarea {
    width: 80em;
    height: 10em;
}

label{
  margin-right: .625em;
  margin-left: 1.25em;
}


body {
    padding-top: 3.5em;
    padding-bottom: 1.25em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1em;
    padding-right: 1em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 25em;
}


